/* src/styles/global.css */

/* Activa el modo oscuro */
:root {
  color-scheme: light dark;
}

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos generales */
body {
  margin: 0;
  width: 100%;
  min-height: 100vh;

  /* Fondo */
  background-image: url("/public/imagen/PortafolioBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 80px;
  padding-left: 2rem;
  text-align: left;
}

/* Enlaces */
a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

a:hover {
  color: white;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduce-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  /* Animación lenta personalizada */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }
}
