---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import "../styles/layout.css";
import LinkedinInIcon from "../icons/linkedin.astro";
import GithubInIcon from "../icons/github.astro";
import FileCVico from "../icons/filecvico.astro";
import Briefcase from "../icons/briefcase.astro";
import Emailico from "../icons/emailico.astro";
import Experience from "../components/Experience.astro";
import Proyectos from "../components/Proyectos.astro";
import Contacto from "../components/Contacto.astro";

import DevLogoAnimado from "../icons/devlogoanimado.astro";
import SocialPill from "../components/SocialPill.astro";
import SectionContainer from "../components/SectionContainer.astro";
<Layout
  description="Portafolio leo Dev - Desarrollador y Programador Web."
>
  <main>
    <SectionContainer class="py-44 pb-44">
      <h1
        class="text-white text-5xl font-bold flex flex-col items-center gap-y-4 pb-4"
        data-i18n="saludo_principal"
      >
        Hola, Soy Leo Barrantes
        <Badge class="text-sm bg-blue-600 text-white px-3 py-1 rounded-lg" data-i18n="disponible">
          Disponible para trabajar
        </Badge>
      </h1>

      <h2 class="text-2xl text-wrap py-2 flex items-center gap-x-8">
        <DevLogoAnimado class="w-9 h-9" />
        <p data-i18n="descripcion_principal">
          Desarrollador de Software
          <br />+ 3 años de experiencia. De San José, Costa Rica.
        </p>
      </h2>

      <div class="flex items-center gap-x-4 gap-y-4 mt-6 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/leo-barrantes-928aa122a">
          <LinkedinInIcon class="w-6 h-6" />
          <span data-i18n="linkedin">LinkedIn</span>
        </SocialPill>

        <SocialPill href="https://github.com/leo0994">
          <GithubInIcon class="w-6 h-6" />
          <span data-i18n="github">Github</span>
        </SocialPill>

        <SocialPill href="/cv/leobarrantescv_english.pdf" target="_blank">
          <FileCVico class="w-6 h-6" />
          <span data-i18n="ingles">Inglés</span>
        </SocialPill>

        <SocialPill href="/cv/leobarrantescv_español.pdf" target="_blank">
          <FileCVico class="w-6 h-6" />
          <span data-i18n="espanol">Español</span>
        </SocialPill>
      </div>
    </SectionContainer>

  
    <SectionContainer id="experiencia" class="py-44 pb-44">
      <h2
        class="text-[rgb(240,240,240)] text-4xl font-semibold mb-6 flex gap-x-2 items-center"
      >
        <Briefcase class="size-9" />
        <span data-i18n="experiencia_laboral">Experiencia laboral</span>
      </h2>
      <Experience />
    </SectionContainer>

    <Proyectos />
    <Contacto />
  </main>
</Layout>
