---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import "../styles/layout.css";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Proyectos from "../components/Proyectos.astro";
import Contacto from "../components/Contacto.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout description="Portafolio leo Dev - Desarrollador y Programador Web.">
  <main>
    <Hero />

    <SectionContainer id="experiencia" class="py-24 pb-40">
      <Experience />
    </SectionContainer>

    <Proyectos />
    <Contacto />
  </main>
</Layout>
