---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    dateKey: "exp1_fecha",
    titleKey: "exp1_titulo",
    descriptionKey: "exp1_descripcion",
  },
  {
    dateKey: "exp2_fecha",
    titleKey: "exp2_titulo",
    descriptionKey: "exp2_descripcion",
  },
  {
    dateKey: "exp3_fecha",
    titleKey: "exp3_titulo",
    descriptionKey: "exp3_descripcion",
  },
  {
    dateKey: "exp4_fecha",
    titleKey: "exp4_titulo",
    descriptionKey: "exp4_descripcion",
  },
  {
    dateKey: "exp5_fecha",
    titleKey: "exp5_titulo",
    descriptionKey: "exp5_descripcion",
  },
];
---

<ol class="relative border-s border-gray-400 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
