---
import Header from "../components/Header.astro";
import "../styles/global.css";
import "../styles/header.css";
import "@fontsource/work-sans/400.css";
import Footer from "../components/Footer.astro";

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description}
      <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/public/icons/LogoPlasmaCeleste.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Leo Portafolio</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <div class="h-10"></div>
    <script type="module" src="/src/js/language.js"></script>
  </body>
</html>
