---
import Header from "../components/Header.astro";
import "../styles/global.css";
import "../styles/header.css";
import "@fontsource/work-sans/400.css";
import Footer from "../components/Footer.astro";

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="/icons/logoplasmaceleste.png" />

    <meta name="generator" content={Astro.generator} />
    <title>Leo Portafolio</title>

    <!-- GSAP CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    ></script>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <div class="h-10"></div>
    <script type="module" src="../js/language.js"></script>
    <script type="module" src="../js/menu.js"></script>
    <script type="module" src="../js/animations.js"></script>
  </body>
</html>
